@import url("reset.css");
@import url("syntax.css");

h2 { font-weight: bold; font-size: 2em; line-height: 1.1; }
 
h3 { font-weight: bold; text-transform: uppercase; line-height: 2.5; }

p { margin-bottom: 10px; }

ul { margin: 1em; }
ol { margin: 1.3em; }
ul li {
	list-style-type: disc;
	list-style-position: inside;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}
#footer {
	width: 100%;
	margin: 10px auto;
	text-align: center;
	clear: both;
	background-color: black;
	color: white;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 10px 0;
}
#footer a, #footer a:active {
	text-decoration: none;
	color: red;
}
#footer a:focus, #footer a:hover { text-decoration: underline; }

#header { 
	width: 100%; 
	display: inline; 
	float: left;
	clear: both; 
	margin-bottom: 1em;
	background-color: black;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding-top: 10px;
}
#header h1 a { 
	width: 100%;
	height: 250px;
	display: inline; 
	float: left;
	clear: both; 
	text-indent: -9999em; 
	overflow: hidden; 
	background-image: url('/images/logo.png'); 
	background-repeat: no-repeat;
}
#header h1 a:focus, #header h1 a:hover, #header h1 a:active { }

#content { width: 100%; clear: both; }

/* home page */
#manifesto ul { margin: 0; }
#manifesto li {
	list-style-type: none;
	list-style-position: outside;
	margin: 5px 0;
}
#manifesto {
	width: 45%; 
	display: inline; 
	float: right;
	background-color: #C00;
	color: white;
	padding: 10px;
	margin-bottom: 1em;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
#manifesto a, #manifesto a:active {
	text-decoration: none;
	color: white;
}
#manifesto a:focus, #manifesto a:hover { text-decoration: underline; }

#posts-list {
	width: 45%; 
	display: inline; 
	float: left;
	padding: 10px;
	margin-bottom: 1em;
}
.posts li {
	list-style: disc inside url("/images/bullet.png");
}
/* end home page */

/* post page */
#post {
	clear: both;
	float: left;
	width: 100%;
	margin: 1em;
}
.highlight pre, .highlight code { 
	font-family: monospace; 
	background-color: #000; color: #FFF;
	overflow: scroll;
	padding: 10px;
}
.meta {
	padding: 10px 0;
}
.meta .date {
	background-color: black;
	color: white;
	padding: 5px;
}
.screenshot a, 
.screenshot a:hover, 
.screenshot a:visited, 
.screenshot a:active,
.screenshot-wide a, 
.screenshot-wide a:hover, 
.screenshot-wide a:visited, 
.screenshot-wide a:active {
	text-decoration: none;
	color: black;
}
.screenshot img {
	width: 500px;
	height: 300px;
	margin: 10px;
	border: 1px solid black;
}
.screenshot-wide img {
	width: 800px;
	height: 200px;
	margin: 10px;
	border: 1px solid black;
}

blockquote {
	color: rgb(102, 102, 102);
	font-style: italic;
	margin: 1.5em;
}
/* end post page */